<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ipConfig</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="ipForm" (ngSubmit)="submit()">

    <ion-item lines="full">
      <ion-label position="floating">Enter Ip address</ion-label>
      <ion-input type="text" required formControlName="ipData"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Add Ip</ion-button>
  </form>
</ion-content>
