<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Wishlist</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal3" size="large">

        <ion-icon name="notifications" ></ion-icon>
        <ion-modal trigger="open-modal3" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <app-notification (cancelModal)="cancel()"></app-notification>
          </ng-template>
         
        </ion-modal>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="wishListData && wishListData.length">

  <ion-list>
    <ion-item lines="none" *ngFor="let product of wishListData.reverse()">

      <div class="three-col flex align-center">
        <div class="left-col">
          <ion-thumbnail slot="start">
            <img [src]="link + product.images[0]" alt="Product Image">
          </ion-thumbnail>
        </div>
        <div class="center-col">
          <div class="productName">
            <h5>{{ product.productName }}</h5>
          </div>
          <!-- <div class="productDesc" >
            <p>{{ product.description }}</p>
          </div> -->
          <div class="productPrice" *ngIf="mobile">

            <p>₹{{ product.discountPrice }}</p>
          </div>
          <div class="productDetail" *ngIf="mobile">

            <a [routerLink]="['../product-details',product._id]">View Details<span> <ion-icon
                  name="chevron-forward-outline"></ion-icon></span></a>
          </div>

          <div class="removeButton">
            <a (click)="removeWishList(product._id)">
              <ion-icon slot="end" name="trash"></ion-icon>
            </a>
          </div>
        </div>
        <div class="right-col">
          <div class="productPrice">

            <p>₹{{ product.discountPrice }}</p>
          </div>
        </div>
      </div>


    </ion-item>
  </ion-list>
  </ng-container>
  <ng-container *ngIf="wishListData && !wishListData.length">
    <div class="empty">
      <h3>Your wishlist is empty</h3>
    </div>
</ng-container>
</ion-content>