

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">

      <ion-tab-button tab="products">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="cart">
        <ion-icon name="cart"></ion-icon>
        Cart
      </ion-tab-button>
      <ion-tab-button tab="wishlist">
        <ion-icon name="heart-circle-outline"></ion-icon>
        Wishlist
      </ion-tab-button>
      <ion-tab-button >
        <ion-icon name="menu-outline" (click)="openSecondMenu()"></ion-icon>
        More

      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
